<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="../../img/fav-logo.png" rel="shortcut icon" type="image/x-icon" />
<link href="../../css/design.css" rel="stylesheet" type="text/css" />
<link href="../../css/print.css" rel="stylesheet" type="text/css" media="print" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="__ROOT__/tablesorter/js/jquery.tablesorter.js"></script>
<script type="text/javascript" src="__ROOT__/tablesorter/js/jquery.tablesorter.widgets.js"></script>

<script>
$(document).ready(function() 
    { 
        $('#competition_timetable').tablesorter({
            theme: 'default',
            widgets: ["zebra"],
            widgetOptions : {
                zebra : [ "odd", "even" ]
            }
        }); 
    } 
);
</script>
<title>__NUMBER____ORDINAL__ World Puzzle Championship</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
    <div class="host-logo"><img src="../../img/logo/__LOGO__.png" alt="WPC __YEAR__ logo" title="WPC __YEAR__ logo" /></div>
	<h2>
    <a href="__ROOT__/timeline/__PREVIOUS_YEAR__/__INDEX__" class="pointer" style="__PREVIOUS_YEAR_STYLE__">&#9668;</a>
	<a href="__INDEX__" class="highlight">__NUMBER__<sup>__ORDINAL__</sup> WPC __YEAR__</a> 
	<a href="__ROOT__/timeline/__NEXT_YEAR__/__INDEX__" class="pointer" style="__NEXT_YEAR_STYLE__">&#9658;</a>
	</h2>
	<h3 class="hideprn">
	<a href="team__HTML_EXT__">Team results</a> &bull;
	<a href="individual__HTML_EXT__">Individual results</a>
    </h3>
	<dl class="normal">
        <dt>General information</dt>
        <dd>__CITY__
        <a href="__ROOT__/countries/__CODE__/__INDEX__">__COUNTRY__</a>
        <span style="__CODE2_STYLE__">& <a href="__ROOT__/countries/__CODE2__/__INDEX__">__COUNTRY2__</a></span>
        <span style="__HOMEPAGE_STYLE__">(<a href="__HOMEPAGE__" target='_blank'>Home Page WPC __YEAR__</a>),</span>
        __DATE__ __YEAR__</dd>
        <dd style="__P_TEAM_STYLE__">Number of participating teams: __P_TEAM__.</dd>
        <dd style="__P_CONTESTANT_STYLE__">Number of contestants: __P_CONTESTANT__.</dd>
        <dt>Instruction Booklet</dt>
        <dd>__BOOKLET__</dd>
        <dt>Competition Timetable</dt> 
        <dd><table id="competition_timetable" class="tablesorter">
                <thead><tr><th>Date</th><th>Time</th><th>Number</th><th>Type</th><th>Title</th><th>Duration</th><th>Max points</th></tr></thead>
                <tbody>
                __TABLE__
                </tbody>
        </table></dd>
        __SPECIAL__
        __CANCEL__
        __UNKNOWN__
	</dl>
</div>
__FOOTER__
</body>
</html>