<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.png" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>World Puzzle Championship</title>
</head>
<body>
__HEADER_TOP__
<div id="main">
	<br />
	<br />
	<img title="WPC" src="__ROOT__/img/WPC.png" height="300" alt="WPC">
	<br />
	<br />
	<div class="intro">
		The World Puzzle Championship (WPC) is the World Championship Puzzle Competition run by the World Puzzle Federation and is held annually in a different country.
        All the puzzles in the competition are designed to be playable regardless of language or culture. The first WPC was held in 1992 in New York City. 
	</div>
	<br />
	<div class="intro">
		<a href="http://wpc-unofficial.org/">wpc-unofficial.org</a> is an online resource for past and upcoming World Puzzle Championships. It is unofficial and non-profit, and does not hold any rights over its contents. The data is taken from various resources including WPF Newsletters. 
		It is a fork of <a href="http://ipho-unofficial.org/">ipho-unofficial.org</a>. <a href="https://github.com/abeakkas/ipho-unofficial.org" target="_blank">ipho-unofficial.org on Github</a>.
		<br />
		The theme and design of the webpage is based on <a href="http://imo-official.org/" target="_blank">imo-official.org</a>.
	</div>
	<br />
</div>
__FOOTER__
</body>
</html>
