<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.png" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>World Puzzle Championships</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
        <h2>Past Instruction Booklets</h2>

        <dd>Booklets from year 2001, 2000, 1997-92 are missing. Please send relevant information to webmaster: <a href="mailto:__WEBMASTER__">__WEBMASTER__</a>.</dd>        

        <dd>See also <a href="https://wpcunofficial.miraheze.org/wiki/Main_Page">WPC-unofficial wiki</a> and <a href="http://www.logic-puzzles.ropeko.ch/php/db/search.php">Roger Kohler's database</a> for compilation of rules of the puzzles that have appeared in the past WPCs.</dd>        
<br />
        <table>
	<thead>
	<tr>
	<th class="highlightDown">Year</th>
	<th>Booklet</th>
	<th>Note</tr>
	</thead>
	<tbody>
	__TABLE__
	</tbody>
	</table>

</div>
__FOOTER__
</body>
</html>
