<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.png" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>World Puzzle Championships</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
        <h2>Links and Resources</h2>

        <dl class="normal">
        <dt><a href="https://gp.worldpuzzle.org/">Puzzle and Sudoku Grand Prix</a></dt>
        <dd>Monthly contest held by the WPF.</dd>
        
        <dt><a href="http://logicmastersindia.com/home/">Logic Masters India</a></dt>
        <dd>Site of Indian national Puzzle and Sudoku team. They organises monthly contests.</dd>

        <dt><a href="https://www.gmpuzzles.com/blog/">The Art of Puzzles</a></dt>
        <dd>Thomas Snyder's puzzle blog.</dd>
        
        <dt><a href="https://logic-masters.de/Raetselportal/">LMD Puzzle Portal</a></dt>
        <dd>Puzzle collection maintained by Logic Master Deutschland.</dd>
        
</div>
<br />
</div>
__FOOTER__
</body>
</html>
